body{
    margin:0;
    padding: 0;
}
.search-engine
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom:30px;
   
}
.search-engine input
{
    width: 70%;
    height: 45px;
    border: 1px solid;
    border-radius: 8px;
    padding: 2px 15px;
    font-size:16px;
    outline: none;
    background-color: #fff;
    color: #555555;

}

.search-engine button
{
      cursor: pointer;
      background-color: black;
      border-radius: 8px;
      padding: 13px 15px;
      border: none;
      color: white;
      outline: none;
      font-size: 20px;
}
.App
{
    text-align: center;
    border-radius: 20px;
    width: 90%;
    max-width: 700px;
    background: rgb(0,255,166);
    padding: 20px 15px;
    height: 500px;
    margin: 50px auto 0px;
}
.city-name
{
    margin-bottom: 10px;
}
.loading{
    font-size: 60px;
}
.date
{
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}
.temp
{
    font-size: 64px;
    text-align: center;
    font-weight: bold;
    color: black;
}
.description
{
      color: black;
      font-size: 22px;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 20px;

}
.weather-info
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  

}
.column
{
    display: flex;
    align-items: center;
    line-height: 1px;
     display: flex;
    flex-direction: column; /* Stack items vertically */
}
